# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# app build process that may have to do with firbase authentication, needed for local
# authentication keep commented to include in project  { temp } 

# /build/app
# /build/shared_preferences_android
# /build/path_provider_android
# /build/kolin
# /build/6c38642c3dd3dde1871985420bd973b3
# /build/cbff2b1535276d602df97b9656722b6e.cache.dill.track.dill
# /build/f4da31578bf74e160393d588ebd02ee2.cache.dill.track.dill



analysis_options.yaml
pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
